p {
    font: normal 15px 'Helvetica Neue', Arial, sans-serif;  
    margin: 0 5px 10px 0;
    color: #292f33
}

#name{
    font: normal 15px 'Helvetica Neue', Arial, sans-serif;  
    font-weight:bold;
}

#username{
    font: normal 10px 'Helvetica Neue', Arial, sans-serif;
    color: #8899a6 
}

#date{
    font: normal 10px 'Helvetica Neue', Arial, sans-serif;
    color: #8899a6 
}

