p {
    font: normal 15px Arial, Palatino, sans-serif;  
    margin: 0 5px 10px 0;
}

div#name{
    font: normal 15px Arial, Palatino, sans-serif;  
    font-weight:bold;
}
#users{
    font-weight: bold;
}

#ttext{
    

}

#date{
    
}

