
{% extends "bootstrap/base.html" %}
<html>
<head>
    <meta charset="UTF-8"> 
     {% block title %}Political Twitter Misogyny{% endblock %}
    {% block scripts %}{{super()}}<script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>  
    <script type="text/javascript" charset="utf-8">
      $(document).ready(function(){
        // from config import CONF;
          // sexistWords = CONF['SEXISTWORDS']
          //  politicians = CONF['POLITICIANS']
          
          for (var i=0;i<sexistWords.length;i++){
            nameList = "<li>" + sexistWords[i] + "</li>"
            $(nameList).hide().prependTo('#slist').fadeIn('slow');    
          }
          for (var i =0; i<politicians.length;i++){
            plist = "<li>" + politicians[i] + "</li>"
            $(plist).hide().prependTo('#plist').fadeIn('slow');
          }
          
      });
    </script> {% endblock %}
    {% block styles %} {{super()}}
        <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/style.css')}}"> 
        <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/jumbotron-narrow.css')}}">   {% endblock %}
    </head>

   {% block content %}
   <body>
    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="/">Home</a></li>
            <li role="presentation"><a href="/about">About</a></li>
            <li role="presentation"><a href="/map">Map</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Political Gender Biases</h3>
      </div>

      <div class="jumbotron">
        <h1>About Political Gender Biases </h1>
        <p class="lead">A project by Rina Schiller</p>
        
      </div>

      <div class="row marketing">
        <div class="col-lg-12">
          <div style="overflow:auto; height: 500px;" ><br><br>
            <p><i>Political Gender Biases: Exposing Sexist Tweets about Female Politicians</i> is an Honors Thesis Project completed 
              Rina Schiller. Rina is a senior at Macaulay Honors at Hunter College and is majoring in Digital Media and minoring
              in Computer Science and Women and Gender Studies. Her passion is at the intersection of technology, media, politics, and gender.</p>
              <br>
            <p><b>How sexism is determined</b></p><br>
            <p> In order to track only sexist tweets I compiled an array of female politicians along with specifically gendered or sexist words. I use the Twitter Streaming API to track any combination of female politician and sexist words. You can see the list below. </p><br>
       
            <b>Politicians</b>
            <ul id="plist">  </ul>
            <b> Gendered/Sexist Words</b>
            <ul id="slist"> 
          </div>
        </div>
      </div>

      <footer class="footer">
        <p>&copy; 2017 Rina Schiller</p>
      </footer>

    </div> <!-- /container -->
 
    </body>
   {% endblock %}  
</html>