
{% extends "bootstrap/base.html" %}
<html>
<head>
    <meta charset="UTF-8"> 
     {% block title %}Political Twitter Misogyny{% endblock %}
    {% block scripts %}{{super()}}<script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
    <script type="text/javascript" src="static/linkify.min.js"></script>
    <script type="text/javascript" src="static/linkify-jquery.min.js"></script>  
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyBiWXWkBEsSpN4viAXNSEDyFlKHOJ8SGu4&sensor=false"></script>
    <script type="text/javascript" src="./static/js/script.js"></script>
    <script type="text/javascript" charset="utf-8">

    //Google Maps API Key: AIzaSyBiWXWkBEsSpN4viAXNSEDyFlKHOJ8SGu4
 
    </script> {% endblock %}
    {% block styles %} {{super()}}
        <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/style.css')}}"> 
        <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/jumbotron-narrow.css')}}">   {% endblock %}
    </head>

   {% block content %}
   <body>
    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="/">Home</a></li>
            <li role="presentation"><a href="/about">About</a></li>
            <li role="presentation"><a href="/map">Map</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Political Gender Biases</h3>
      </div>

      <!-- <div class="jumbotron"> -->
        <!-- <h3>Political Gender Biases </h3> -->
        <!-- <p class="lead">Exposing Sexist Tweets about Female Politicians</p> -->
        
      <!-- </div> -->
      <div class="row">
        <div class="col-lg-12">
          <div id = "map-container" style="height: 300px;" ><br><br>
        </div>
      </div><br>
      <div class="row">
        <div class="col-lg-12">
           <div id="tweetArea" style="overflow:auto; height: 500px;" ></div>
        </div>
      </div>
               


      <footer class="footer">
        <p>&copy; 2017 Rina Schiller</p>
      </footer>

    </div> <!-- /container -->
 
    </body>
   {% endblock %}  
</html>