<!DOCTYPE html>
<html>
<head>
    <title>Political Misogyny in Tweets</title>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/style.css')}}">
    <!-- <script src="static/js/script.js"></script> -->  
    <style>   
    </style>
    
</head>
<body>
    <!-- passing in list and iterating through it -->
    {% for tweet in tweets %}
        <p>{{ tweet }} </p>
    {% endfor %}
    
</body>
</html>