
{% extends "bootstrap/base.html" %}
<html>
<head>
    <meta charset="UTF-8"> 
     {% block title %}Political Sexism on Twitter{% endblock %}
    {% block scripts %}{{super()}}<script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
    
    <script type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript" charset="utf-8">
      $(document).ready(function(){
          //date formatting
          $('.date').each(function(i){
            date = $(this).text()
            ndate = new Date(date);
            $(this).text(ndate.toString().substring(0,date.length-9));
          })
      });
    </script>
    {% endblock %}
    {% block styles %} {{super()}}
        <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/style.css')}}"> 
        <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/jumbotron-narrow.css')}}">   {% endblock %}
    </head>

   {% block content %}
   <body>
    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" ><a href="/">Home</a></li>
            <li role="presentation" class="active"><a href="/list">D v. R </a></li>
            <li role="presentation" ><a href="/about">About</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Political Sexism on Twitter</h3>
      </div>

      <div class="row">
        <div class="col-sm-6">   
             <img id ="pimage" src="static/img/clinton.jpeg"/>
             <img id ="pimage"  src="static/img/warren.jpeg"/>
             <img id ="pimage" src="static/img/pelosi.jpg"/><br>  
             <p class="count"> {{democrats|length}} </p>
             {% for row in democrats %}  
                   <p id="text"> {{row["tweet"]}}</p>
                   <p id = "date"class="date">{{row["created_at"]}}</p>
                   <p id="username"> <a href="https://twitter.com/{{row["username"]}}">@{{row["username"]}}</a></p>
                   <br>
             {% endfor %}  
        </div>
        
        <div class="col-sm-6">  
              <img id ="pimage" src="static/img/kellyanne.jpeg"/>
              <img id ="pimage" src="static/img/ivanka.jpeg"/>
              <img id ="pimage" src="static/img/melania.jpg"/>  <br> 
              <p class="count"> {{republicans|length}} </p>        
             {% for row in republicans %}  
                   <p id="text"> {{row["tweet"]}}</p>
                   <p id = "date" class="date">{{row["created_at"]}}</p>
                   <p id="username"> <a href="https://twitter.com/{{row["username"]}}">@{{row["username"]}}</a></p>
                   <br>
             {% endfor %}  
        </div>

      </div>
        
        <a href = "/">Go back to home page</a>
      </div>

      <footer class="footer">
        <p>&copy; 2017 Rina Schiller</p>
      </footer>

    </div> <!-- /container -->
 
    </body>
   {% endblock %}  
</html>